set visualbell
set noerrorbells
set ideajoin
set surround
set commentary
set showmode
set number
set smartcase
set scrolloff=3
set history=100000

" Integrate with system clipboard
set clipboard=unnamedplus, unnamed

let mapleader=","
nnoremap <leader>l :action GotoDeclaration<CR>
nmap <leader><leader> gcc
vmap <leader><leader> gc

vnoremap <leader>e :action EvaluateExpression<CR>

" nnoremap <leader>r :action Run<CR>
vmap <leader>r :action Rider.Plugins.FSharp.SendToFsi<CR>
nnoremap <leader>d :action Debug<CR>
nnoremap <Leader>n :action RenameElement<CR>i
nnoremap <Leader>w :action CloseEditor<CR>
nnoremap <Leader>g :action FindUsages<CR>
nnoremap <Leader>s :action GotoFile<CR>
nnoremap <Leader>o :action FileStructurePopup<CR>
nnoremap <Leader>t :action GotoImplementation<CR>
nnoremap <Leader>q :action SurroundWith<CR>

nnoremap <Leader><S-s> :action Switcher<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nmap <Leader>mp :action ManageRecentProjects<CR>

nnoremap <Leader>f :action FindInPath<CR>

imap <C-j> <Down>
imap <C-k> <Up>

nnoremap <Tab> gt
nnoremap <S-Tab> gT
